/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: brown;
    border-radius: 50%;
    padding: 3px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px #fff solid;
}
 */

:root{
    --warna1: #1A3636;
    --warna2: #40534C;
    --warna3: #677D6A;
    --warna4: #D6BD98;
    
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fff9eb;
    justify-content: center;
}

.profile-card{
    background-color: #ffffffb3;
    max-width: 370px;
    width: 100%;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 4px 5px 10px rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.profile-card::before{
    content: "";
    background-color: var(--warna2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    height: 34%;
    width: 100%;
}

.image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--warna1);
    padding: 3px;
    margin-bottom: 10px;
    /* box-sizing: ; */
}

.image:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.image:not(:hover){
    transition: all 0.5s;
}

.image .profile-img{
    border-radius: 50%;
    width: 100%;
    /* box-sizing: border-box; --> ini buat  */
    object-fit: cover;
    height: 100%;
    border: 3px solid #fff;
}

/* ini conttainer dari text-data  */
.text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
    margin-top: 18px;
    
}

.job{
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 15px; */
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: var(--warna1);
    width: 200px;
    height: 4px;
    border-radius: 20px;
}

.media-buttons .link{
    /* margin-top: 10px; */
    text-decoration: none;
    background-color: rgb(206, 27, 27);
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 15px ;
    justify-content: center;
    transition: all 0.2s ease;
}

.link:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}


.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    background-color: var(--warna2);
    /* margin-inline: 8px; */
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 6px 18px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: beige;
    transition: all 0.3s ease;
    

}

.button a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.buttons .button:hover{
    background-color: var(--warna3);
    transform: scale(1.1);
    color: white;
    box-shadow: 3px 1px 6px  var(--warna1);
}

.analitic{
    display: flex;
    justify-content: space-between;
    /* padding: 4px 60px; */
    margin-top: 10px;
    align-items: center;
}

.analitic .data{
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #333;
    border-right: 2px #868686 solid ;
    margin-top: 10px;
    cursor: pointer;

}
.data i{
    margin-right: 8px;
    font-size:  16px;
}


.data span{
    font-size: 15px;
}

.data i:hover{
    transition: all 0.4s;
    transform:rotate(360deg);
}



.data:last-child{
    border: none;
}


